.headstone {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  z-index: 1000000;
  background-color: #333;
  &.print{
    color: #000 !important;
    .ant-typography{
      color:#ededed;
    }
}
  .headstone-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #de0004;
    overflow: hidden;
    position: relative;
    display: flex;

  }

  .target {

    width: 100%;
    min-width: 100%;
    min-height: 100px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 100000;
  }
  .moveable-control-box{
    z-index: 1000;
  }
}
