.headstone {
  width: 100%;
  display: block;
  height: 100%;
  color: #fff;
  z-index: 1000000;
  background-color: #333;
  &.print{
    color: #000 !important;
    .ant-typography{
      color:#ededed;
    }
}
  .headstone-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #de0004;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
  }

  .target {
    width: 100%;
    min-width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 100000;
  }
  .moveable-control-box{
    z-index: 10;
  }
}
.react-flow__renderer{
  z-index: -1 !important;
}
.react-flow__handle {
  display: none !important;
}
.react-flow__controls{
  border-radius: 12px !important;

  & .react-flow__controls-button:first-of-type{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  & .react-flow__controls-button:last-of-type{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
.react-flow__controls-button{
  width: 32px !important;
  height: 32px !important;
}
.react-flow-node {
  pointer-events: none !important;
}

.moveable-div {
  pointer-events: auto !important;
}
