#headstone {
  width: 100%;
  display: block;
  height: 70vh; /* Use viewport height instead of percentage */
  background: #323232;
  padding: 1.5cm;
  color: #fff;
  min-height: 50vh;
  overflow: hidden;
  position: relative; /* Add position relative */

  .headstone-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #de0004; /* Fix the typo 'soldi' to 'solid' */
    overflow: hidden;
    position: relative;
  }

  .target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    box-sizing: border-box;
  }

  .target * {
    position: relative;
  }
}
