:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* POLOTNO */
.bp5-tabs{
  display: none !important;
}
.go4160152499{
  display: none;
}
  /* Hide the 1st span element */
  .bp5-overflow-list > span:first-child,
  .bp5-overflow-list > span:nth-child(3){
    display: none;
  }  
